@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.word-container{
    /* font-size: 34px;
    font-weight: 600;
    font-family: "DM Serif Display", serif; */
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    /* justify-content: center; */
}

.home-container{
    /* background-image: url('https://res.cloudinary.com/dadtgoi5h/image/upload/v1732703713/Copy_of_IMG-20230616-WA0009_3_bdrmdm.jpg'); */
    background-image: url('https://res.cloudinary.com/dadtgoi5h/image/upload/v1732957873/Copy_of_IMG-20230616-WA0009_1_mobile-view_bocxsw.jpg');
    /* background-image: url('https://res.cloudinary.com/dadtgoi5h/image/upload/v1732703459/Copy_of_IMG-20230616-WA0009_3_wwdofw.jpg'); */
    /* background-image: url('https://res.cloudinary.com/dadtgoi5h/image/upload/v1732703256/Copy_of_IMG-20230616-WA0009_1_zapbdw.jpg'); */
    /* background-image: url('https://res.cloudinary.com/dadtgoi5h/image/upload/v1732702687/Copy_of_IMG-20230616-WA0009_1_oyykdm.jpg?'); */
    /* background-image: url('https://res.cloudinary.com/dadtgoi5h/image/upload/v1732701997/Copy_of_IMG-20240107-WA0009_g5bkft.jpg'); */
    /* background-image: url('https://res.cloudinary.com/dadtgoi5h/image/upload/v1732698593/Copy_of_IMG-20230616-WA0009_rdya8t.jpg'); */
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;  
}

.bg-container {
    color: #fff;
    
}

.header-name{
    font-family: "DM Serif Display", serif;
}

.heading-name{
    /* animation: move2right 1.5s ease-in-out; */
    /* padding-left: 3vmin; */
    position: relative;
    font-family: "DM Serif Display", serif;
  font-weight: 300 !important;
  /* font-style: normal; */
  /* font-style: italic; */
  color: #000;
  color: #fff;
}

@keyframes move2right {
    0%{left:-100%}
    100%{left:0}
    
}

@keyframes cursor {
    to{
        border-left: 2px solid #08546C;
    }
}
.word-container{
    color: #fff;
}

.para-greet{
    font-size: 20px;
}
.para-role{
    font-size: 20px;
}

@media only screen and (min-width: 768px) {
    .home-container{
        /* background-image: url('https://res.cloudinary.com/dadtgoi5h/image/upload/v1732703713/Copy_of_IMG-20230616-WA0009_3_bdrmdm.jpg'); */
        background-image: url('https://res.cloudinary.com/dadtgoi5h/image/upload/v1732703587/Copy_of_IMG-20230616-WA0009_3_izn1ii.jpg');
        /* background-image: url('https://res.cloudinary.com/dadtgoi5h/image/upload/v1732703459/Copy_of_IMG-20230616-WA0009_3_wwdofw.jpg'); */
        /* background-image: url('https://res.cloudinary.com/dadtgoi5h/image/upload/v1732703256/Copy_of_IMG-20230616-WA0009_1_zapbdw.jpg'); */
        /* background-image: url('https://res.cloudinary.com/dadtgoi5h/image/upload/v1732702687/Copy_of_IMG-20230616-WA0009_1_oyykdm.jpg?'); */
        /* background-image: url('https://res.cloudinary.com/dadtgoi5h/image/upload/v1732701997/Copy_of_IMG-20240107-WA0009_g5bkft.jpg'); */
        /* background-image: url('https://res.cloudinary.com/dadtgoi5h/image/upload/v1732698593/Copy_of_IMG-20230616-WA0009_rdya8t.jpg'); */
        background-size: cover;
        height: 100vh;
        display: flex;
        justify-content: center;  
    }
    .sp-role{
        font-size: 50px !important;
        font-weight: 500;
    }
    .animated-para{
        font-size: 28px !important;
        margin-bottom: 0;
    }
    .heading-name {
        font-size: 80px !important;
        font-weight: 400 !important;

    }
    .para{
        font-size: 28px;
        margin-top: 0;
    }
    .para-greet {
        font-size: 28px !important;
        margin-bottom: 0 !important;
    }
    .para-role {
        font-size: 28px !important;
        margin-top: 0;
    }
    .intro{
        font-size: 18px !important;
        max-width: 90%;
        margin-top: 17px;
        
    }
    .btn-git{
        margin-left: 10px;
    }
    
}

.animated-para{
    font-size: 20px;
    margin-bottom: 0;
}

.sp-role{
    font-size: 30px;
    /* font-weight: 500; */
    font-family: "DM Serif Display", serif;
    /* color: #000; */
    /* color: #cb494e; */
}

.connect {
    font-size: 20px;
}
.linkedin{
    height: 25px;
    width: 22px;
}
.para-greet {
    font-size: 20px;
    margin-bottom: 4px;
}

.heading-name {
    font-size: 50px;
    font-weight: 800;
    margin-top: 0;
    margin-bottom: 0;
}
