.title-heading{
    color: #fff;
    font-size: 23px;
    margin-top: 0;
    margin-bottom: 0;
}

.institution{
    color: #0FA4AF;
    margin: 0;
    font-size: 17px;
    
}

.location{
    color: rgb(172, 168, 168);
    font-weight: 480;
    margin: 0;
}

.list-items{
    /* color: rgb(57, 55, 55); */
    font-weight: 450;
    color: gray;
    /* margin: 0; */
}

.grade{
    color: #fff;
    /* margin-top: 0; */
    margin-bottom: 0;
}

.e-cont{
    background-color: #000;
    height: 100%;
    width: 100%;
    padding: 10px;
}

.education-container{
    min-height: auto;
  max-height: none;
  height: auto;
  padding: 10px; /* Adjust padding as needed */
  overflow: visible;
  width: 100%;        /* Makes it take up full width of the parent */
  max-width: none;    /* Remove any max-width limit */
  min-width: 0;
  /* background-color: #000; */
}